<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>SpiceMe | Recipes Sharing</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="recipe-allrecipes"> All Recipes </div>
    <ul class="recipe-list">
        <% for(let i = 0; i < recipes.length; i++) { %>
            <li class="recipe-item">
                <a href="/recipes/<%=recipes[i].id %>">
                    <div class="recipe-image">
                        <img src="<%=recipes[i].img %>" alt="<%=recipes[i].title %>">
                    </div>
                    <div class="recipe-details">
                        <div class="recipe-title">
                            <%=recipes[i].title %>
                        </div>
                        <div class="recipe-description">
                            <!-- .substring(0,117) for break words  -->
                            <%= recipes[i].description.substring(0,117) %>
                        </div>
                        <div class="recipe-owner">
                            Created by: <%= recipes[i].owner.username %>
                        </div>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>